<div class="border-div">
    <p>
        {{ recipe.name }}: 
        <ul> Needed coffee: {{ recipe.coffee }} g </ul>
        <ul> Needed water: {{ recipe.water }} ml </ul>
        <ul> Needed milk: {{ recipe.milk }} ml </ul>
        <ul> Needed cocoa: {{ recipe.cocoa }} g </ul>
    </p>
    <!-- <form class="form" (ngSubmit)="onRefillSubmit()">
        <input type="number" 
            name="refillAmount" 
            [(ngModel)]="refillAmount" 
            placeholder="Amount...">
        <input type="submit" 
            value="Refill {{ ingredient.name }}" 
            class="btn button2">
    </form> -->
</div>
<br>