<div class="jumbotron-recipe" id="recipe-{{recipe.name}}">
    <h2>{{ recipe.name }}:</h2>
    <table class="indented">
        <tr>
            <td>Needed Coffee:</td>
            <td align="right">&nbsp;{{ recipe.coffeeAmount }}</td>
            <td>&nbsp;g</td>
        </tr>
        <tr>
            <td>Needed Water:</td>
            <td align="right">&nbsp;{{ recipe.waterAmount }}</td>
            <td>&nbsp;ml</td>
        </tr>
        <tr>
            <td>Needed Milk:</td>
            <td align="right">&nbsp;{{ recipe.milkAmount }}</td>
            <td>&nbsp;ml</td>
        </tr>
        <tr>
            <td>Needed Cocoa:</td>
            <td align="right">&nbsp;{{ recipe.cocoaAmount }}</td>
            <td>&nbsp;g</td>
        </tr>
    </table>
    <!-- <input type="submit" 
        value="Refill {{ ingredient.name }}" 
        class="btn button2"> -->
    <!-- <button type="submit" class="button button1">Make an {{ recipe.name }}</button> -->
    <!-- </p> -->

    <br>
    <form class="form" (ngSubmit)="onBrewSubmit()">
        <!-- <input type="number" 
            name="refillAmount" 
            [(ngModel)]="refillAmount" 
            placeholder="Amount..."> -->
        <input type="submit" value="Brew {{ recipe.name }}" class="btn btn-success">
    </form>
</div>

<br>