/* .form {
    display: block;
    padding: 0px 32px 15px 32px;
}

.form input[type='text'] {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    max-width: 150px;
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
}

.form input[type='number'] {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    max-width: 150px;
    cursor: pointer;
    margin: 10px;
}

.form input[type='submit'] {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0;
} */
