<h1>Ingredients</h1>
<p>
    You are viewing all the available ingredients.
</p>
<p class="solid">
    Coffee: 500g<br>
    <button class="button button1">Refill Coffee</button>
</p>
<br>
<p class="solid">
    Water: 3 Liters<br>
    <button class="button button1">Refill Water</button>
</p>
<p class="solid">
    Milk: 2 Liters<br>
    <button class="button button1">Refill Milk</button>
</p>
<button (click)="onGet()" class="button button1"> .<br> GET <br>. </button>
<button (click)="onAdd()" class="button button1"> .<br> ADD <br>. </button>
<button (click)="onUse()" class="button button1"> .<br> USE <br>. </button>

<br>


<app-ingredient-item 
    *ngFor="let ingredient of ingredients" 
    [ingredient]="ingredient"
    >
</app-ingredient-item>