<form class="container jumbotron-add-recipe" (ngSubmit)="onAddSubmit()" id="form-new-recipe">

    <h2 class="whiteTextOverride">Your newest creation</h2>

    <div class="form-floating mb-3" id="name">
        <input required type="text" class="form-control" minlength="2" maxlength="20" placeholder=" " [(ngModel)]="nameValue"
            ngModel name="name" #name="ngModel">
        <label for="name">Recipe Name</label>
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors?.required" id="error-name-empty">
                Recipes require a name.</div>
            <div *ngIf="name.errors?.minlength" id="error-name-length">
                Recipe names need {{ name.errors?.minlength.requiredLength }} to 20 characters.</div>
        </div>
    </div>
    <div class="form-floating indented" id="sugarAmount">
        <input type="number" class="form-control" min="0" placeholder=" " [(ngModel)]="sugarAmountValue"
            ngModel name="sugarAmount" #sugarAmount="ngModel"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (Math.abs(this.value) <= 1500 ? Math.abs(this.value) : 1500) : 0">
        <label for="sugarAmount">Amount of Sugar in g</label>
    </div>
    <div class="form-floating indented" id="coffeeAmount">
        <input type="number" class="form-control" min="0" placeholder=" " [(ngModel)]="coffeeAmountValue" 
            ngModel name="coffeeAmount" #coffeeAmount="ngModel" 
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (Math.abs(this.value) <= 1500 ? Math.abs(this.value) : 1500) : 0">
        <label for="coffeeAmount">Amount of Coffee in g</label>
    </div>
    <div class="form-floating indented" id="waterAmount">
        <input type="number" class="form-control" min="0" placeholder=" " [(ngModel)]="waterAmountValue" 
            ngModel name="waterAmount" #waterAmount="ngModel"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (Math.abs(this.value) <= 1500 ? Math.abs(this.value) : 1500) : 0">
        <label for="waterAmount">Amount of Water in ml</label>
    </div>
    <div class="form-floating indented" id="milkAmount">
        <input type="number" class="form-control" min="0" placeholder=" " [(ngModel)]="milkAmountValue"
            ngModel name="milkAmount" #milkAmount="ngModel"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (Math.abs(this.value) <= 1500 ? Math.abs(this.value) : 1500) : 0">
        <label for="milkAmount">Amount of Milk in ml</label>
    </div>
    <div class="form-floating indented" id="cocoaAmount">
        <input type="number" class="form-control" min="0" placeholder=" " [(ngModel)]="cocoaAmountValue"
            ngModel name="cocoaAmount" #cocoaAmount="ngModel"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (Math.abs(this.value) <= 1500 ? Math.abs(this.value) : 1500) : 0">
        <label for="cocoaAmount">Amount of Cocoa in g</label>
    </div>
    <br>
    <div class="alert alert-warning" id="requirements-warning" *ngIf="!name.valid 
        || !coffeeAmount.viewModel 
        && !waterAmount.viewModel 
        && !milkAmount.viewModel 
        && !cocoaAmount.viewModel
        && !sugarAmount.viewModel">
        Recipes need a Name and at least one Ingredient.</div>
    <input type="submit" class="btn btn-success" id="submit-new-recipe" value="Create new Recipe" [disabled]="!name.valid 
        || !coffeeAmount.viewModel 
        && !waterAmount.viewModel 
        && !milkAmount.viewModel 
        && !cocoaAmount.viewModel
        && !sugarAmount.viewModel">
</form>
