<form class="form" (ngSubmit)="onSubmit()">
    <input type="text" name="name" [(ngModel)]="name" 
    placeholder="Recipe Name...">
    
    <input type="number" name="waterAmount" [(ngModel)]="waterAmount" 
    placeholder="Water in ml...">
    
    <input type="number" name="coffeeAmount" [(ngModel)]="coffeeAmount" 
    placeholder="Coffee in g...">
    
    <input type="number" name="milkAmount" [(ngModel)]="milkAmount" 
    placeholder="Milk in ml...">
    
    <input type="number" name="cocoaAmount" [(ngModel)]="cocoaAmount" 
    placeholder="Cocoa in g...">
    
    <input type="submit" value="Create new Recipe" class="btn button1">
</form>