.jumbotron-add-recipe {
    /* based on settings from older bootstrap version */
    padding: 2rem 1rem;
    background-color: #6f4e37cc;
    /* background-color: #c27036cc; */
    /* background-color: #e9ecef; */
    max-width: 32rem;
    border-radius: .3rem;
}

.jumbotron-recipe {
    padding: 2rem 1rem;
    margin: .5rem;
    color: ivory;
    background-color: #6f4e37cc;
    /* background-color: #c27036cc; */
    /* background-color: #e9ecef; */
    max-width: 26rem;
    border-radius: .3rem;
}

.jumbotron-ingredient {
    font-size: 125%;
    font-weight: bold;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #a6f2ffcc;
    max-width: 26rem;
    border-radius: .3rem;
}

.recipe-table {
    margin-left: 3%;
}

.content-div {
    padding: 15px 32px;
}

/* .border-div {
    border: 3px solid #c06525;
    border-radius: 15px;
    max-width: 800px;
} */

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* https://www.w3schools.com/tags/tag_button.asp */
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
    .button1 {background-color: #4CAF50;} /* Green */
    .button2 {background-color: #008CBA;} /* Blue */
/* - */

/* https://www.w3schools.com/css/css_outline.asp */
p {outline-color:#c06525;
    /* display: inline-block; */
    padding: 15px 32px;
    border-left: 15px 32px;
}

    .dotted {outline-style: dotted;}
    .dashed {outline-style: dashed;}
    .solid {outline-style: solid;}
    .double {outline-style: double;}
    .groove {outline-style: groove;}
    .ridge {outline-style: ridge;}
    .inset {outline-style: inset;}
    .outset {outline-style: outset;}
/* - */

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;   
}

a {
    color: #009579;
}  